In [3]:
import pandas as pd

df = pd.read_csv("capstone.directory.csv")

display(df)

,_id,employeeInfo.id,employeeInfo.name,employeeInfo.phoneNumber,employeeInfo.jobRole,employeeInfo.location,employeeInfo.salary,employeeInfo.managerID,employeeInfo.isHR,userInfo.username,userInfo.password
0,664e2763cd851d726ea8db6c,382,Marie Nelson,6028369232,QA Engineer,San Francisco,67992,0,False,gcox,l^mrsLU-EEJ4
1,664e2763cd851d726ea8db6d,629,Christine Benton,(286)988-7933,Data Scientist,Philadelphia,122953,0,False,hsmith,]>H4X5oxlj'k
2,664e2763cd851d726ea8db6e,438,Holly Johnson,996-245-0694,DevOps Engineer,Houston,106370,0,False,vcole,$C]!nz*4Q:tO
3,664e2763cd851d726ea8db6f,192,Steven Anderson,8419983719,Data Scientist,Phoenix,53522,0,True,elizabethmcmahon,bA[ws9F\_R}g
4,664e2763cd851d726ea8db70,610,Carol Brown,7939801795,Product Manager,New York,68727,0,False,rodriguezkurt,$|pP8NI1Cg=z
...,...,...,...,...,...,...,...,...,...,...,...
995,664e2763cd851d726ea8df4f,638,Donna Hodges,(430)753-5682,Software Engineer,Dallas,73499,366,False,shortnicholas,B}_O8bW$4kEG
996,664e2763cd851d726ea8df50,148,Brian Obrien,6673604599,Software Engineer,Philadelphia,137348,364,True,kirkcindy,D;Ov-SxX6&)V
997,664e2763cd851d726ea8df51,351,Scott Parker,(939)704-4174,QA Engineer,Chicago,86331,761,True,christopherjackson,"VxOsG#,4R\^5"
998,664e2763cd851d726ea8df52,910,Brian Vargas,(622)824-5789,QA Engineer,Philadelphia,113901,229,True,goodmanmelanie,"?d,3nud11Qi|"
999,664e2763cd851d726ea8df53,340,Angela Mercer,(405)401-3961,QA Engineer,San Diego,101801,245,False,holtashley,\NUc$&J^m9BY

In [4]:
X = df[['employeeInfo.location', 'employeeInfo.jobRole']]
y = df['employeeInfo.salary']

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [7]:
categorical_features = ['employeeInfo.location', 'employeeInfo.jobRole']
categorical_transformer = Pipeline(steps=[('encoder', OneHotEncoder(drop='first'))])

In [8]:
preprocessor = ColumnTransformer(transformers=[('cat', categorical_transformer, categorical_features)])

In [12]:
linreg_pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('classifier', LinearRegression())])

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
linreg_pipeline.fit(X_train, y_train)
y_pred = linreg_pipeline.predict(X_test)

salary_data = pd.DataFrame({'employeeInfo.location':['New York'], 'employeeInfo.jobRole':['QA Engineer']})
predicted_salary = linreg_pipeline.predict(salary_data)
print(predicted_salary[0])

96127.69107775018

In [20]:
import pickle
file_path = 'linreg_pipeline.pkl'

with open(file_path, 'wb') as file:
    pickle.dump(linreg_pipeline, file)